body{
	color: #aaa;
}
.marginbottom15{
	margin-bottom: 15px;
}
.marginbottom20{
	margin-bottom: 20px;
}
.marginbottom30{
	margin-bottom: 30px;
}
.marginleft15{
	margin-left: 15px;
}
.margintop10{
	margin-top: 10px;
}
.margintop30{
	margin-top: 30px;
}
.margintop20{
	margin-top: 20px;
}
.margin0{
	margin:0px;
}
.clear-both{
	clear: both;
}
.paddingbottom15{
	padding-bottom: 15px;
}
.paddingleft30{
	padding-left: 30px !important;
}
.tab-main{
	margin-top: 50px;
}
.custom-tab-main{
	border-bottom: 0px;
}
.custom-tab-main li{
	text-align: center;
	border-bottom:1px solid #aaa;
}
.custom-tab-main li{
	width: 33.3%
}
.custom-tab-main li a{
	color: #ddd;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
}
.custom-tab-main li:hover{
	border: 0px;
	border-bottom: 1px solid #000;
}
.custom-tab-main li a:hover{
	border:0px;
	background-color: transparent;
	border-bottom: 2px solid transparent;
	color: #000;
}
.tab-main .custom-tab-main .active, .tab-main .custom-tab-main .active:hover{
	border: 0px;
	border-bottom: 1px solid #000;
}
.tab-main .custom-tab-main .active a{
	border:0px;
	border-bottom: 2px solid transparent;
}
.custom-label{
	color: #aaa;
	font-size: 12px;
}
.left-arrow{
	color: #aaa;
}
.return-to-shop{
	cursor: pointer;
}
.shopping-cart{
	background-color: #f8fafb;
	padding:30px;
	padding-top: 37px;
	height: 100vh;
}
.shopping-cart-count{
	display: inline-block;
	background-color: #4d96f8;
	color: #fff;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 20px;
}
.shopping-cart-title{
	border-bottom:1px solid #aaa;
	padding-bottom: 20px;
}
.shoppingcart-images{
	padding: 15px;
	background-color: #fff;
	border-radius: 5px;
}
.shopping-details{
	color: #aaa;
}
.currency{
	color: #5a5a5a;
}
select{
	background-image: url(../images/Select-box-arrow.png) !important;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: right;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid rgb(162,166,171);
	padding: 5px 0px 6px 0;
	padding-left: 15px;
	height: 32px;
	border-radius: 5px;
	font-size: 14px;
}
.vocher-select{
	border:0px;
	background-color: transparent;
	box-shadow: none;
	border-top: 1px solid #aaa;
	border-radius: 0px;
	padding: 10px 0px;
	border-bottom: 1px solid #aaa;
	height: 50px;
	margin-top: 20px;
}
.shipping-details{
	border-bottom: 1px solid;
}
.shipping-total{
	color: #000;
}
.common-button{
	font-size: 14px;
	padding: 13px 20px;
}
.find-button{
	color: #3e77e2;
	font-size: 12px;
	font-weight: bold;
}
.shipping-info{
	border:1px solid;
	border-radius: 5px;
}
.shipping-info-details{
	border-right: 1px solid;
}
.padding20{
	padding: 20px;
}
/***  RADIO BUTTONS  ***/
.common-radio-button {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: left;
	font-weight: normal;
	margin-right: 30px;
	font-weight: normal;
}
.common-radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
	width: 20px;
    border: 2px solid #3e77e2;
    border-radius: 50%;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.common-radio-button input:checked ~ .checkmark:after {
    display: block;
}
.common-radio-button .checkmark:after {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #3e77e2;
	margin: 3px 3px;
}
.black-color{
	color: #000;
}
.shipping-time{
	line-height: 1.5;
	font-size: 15px;
	padding-left: 15px;
}
.shipping-method-main{
	border:1px solid;
	border-radius: 5px;
	padding:15px;
}
.payment-img{
	width: 30px;
	height: 30px;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}
.input-img{
	font-size: 20px;
	padding: 9px;
	border: 1px solid;
	border-left: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  width: 100%;
	padding: 10px;
	outline: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 1px solid;
	border-right: 0px;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}